<section>
      <div class="container-fluid footer-container mt-4 border-top text-center">
          <div class="row mt-3">
             <div class="col-12 mb-2">
                <h5 class="text-uppercase"> Get in touch</h5>
             </div>
             <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <i class="fa  fa-facebook-square" data-toggle="tooltip" data-placement="top" title="Contact us via facebook"></i>
             </div>
             <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <i class="fa  fa-twitter" data-toggle="tooltip" data-placement="top" title="Contact us via twitter"></i>
             </div>
             <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <i class="fa  fa-instagram" data-toggle="tooltip" data-placement="top" title="Contact us via instagram"></i>
             </div>
             <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-4  mt-md-3 mt-sm-3 mt-xs-3 mt-xl-0 mt-lg-0">
                <i class="fa  fa-linkedin" data-toggle="tooltip" data-placement="top" title="Contact us via linkedIn"></i>
             </div>
             <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-4  mt-md-3 mt-sm-3 mt-xs-3 mt-xl-0 mt-lg-0">
                <i class="fa  fa-envelope" data-toggle="tooltip" data-placement="top" title="Contact us via email"></i>
                <a href= "mailto: test124@conference.com"><span class="contact">test124@conference.com</span></a> 
             </div>
             <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-4 mt-md-3 mt-sm-3 mt-xs-3 mt-xl-0 mt-lg-0">
                <i class="fa  fa-phone-square" data-toggle="tooltip" data-placement="top" title="Contact us via phone"></i>
                <a href= "mailto: +971 XXX XXX XXX"><span class="contact">+971 XXX XXX XXX</span> </a> 
             </div>
            <div class="col-xs-12 col-xl-12 col-lg-12 col-md-12 mt-5">
              <h5 class="">All rights reserved &copy; 2018,  developed for xyz Ltd.</h5>
           </div>
         </div>
      </div>
</section>