.footer-container:hover i {
    cursor: pointer;
}
.footer-container i {
    font-size: 1.5rem;
    &:hover {
        transform: scale(1.5);
        color: blue;
    }
}

.contact {
    color: black !important;
}
.contact:hover {
    color: brown;
    text-decoration: underline;
    cursor: pointer;
}