<section>

    <div class="container text-center about-page text-uppercase mt-md-0 mt-sm-0 mt-xs-0 ">
        <div class="row">
          <div class="col-12">
            <h3>About The conference</h3>
             <h5 class="mt-2 mb-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium recusandae quam.
             </h5>
            <hr>
         </div>
       </div>
     </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
         <p>
            The total investment in FinTech in 2016 was $24.6b according to KPMG while an annual 20% ROI is expected on FinTech related projects as indicated in a PWC report. Similarly, in FinTech Trends Report for 3rd quarter of 2017, FinTech companies closed 496 deals worth $8billion in the first half of 2017. Many African countries particularly Nigeria have benefited from the massive investments in FinTech and are creating world class innovation that promises to significantly contribute to the development of their economies. In Nigeria, activities in the FinTech ecosystem continue to soar with series of investment in up and coming FinTechs with special emphasise placed on FinTech partnership and collaboration by incumbents:
        </p>
        <br>
        <br>
        <p>
            The total investment in FinTech in 2016 was $24.6b according to KPMG while an annual 20% ROI is expected on FinTech related projects as indicated in a PWC report. Similarly, in FinTech Trends Report for 3rd quarter of 2017, FinTech companies closed 496 deals worth $8billion in the first half of 2017. Many African countries particularly Nigeria have benefited from the massive investments in FinTech and are creating world class innovation that promises to significantly contribute to the development of their economies. In Nigeria, activities in the FinTech ecosystem continue to soar with series of investment in up and coming FinTechs with special emphasise placed on FinTech partnership and collaboration by incumbents:
        </p>
        <br>
        <p>
            The total investment in FinTech in 2016 was $24.6b according to KPMG while an annual 20% ROI is expected on FinTech related projects as indicated in a PWC report. Similarly, in FinTech Trends Report for 3rd quarter of 2017, FinTech companies closed 496 deals worth $8billion in the first half of 2017. Many African countries particularly Nigeria have benefited from the massive investments in FinTech and are creating world class innovation that promises to significantly contribute to the development of their economies. In Nigeria, activities in the FinTech ecosystem continue to soar with series of investment in up and coming FinTechs with special emphasise placed on FinTech partnership and collaboration by incumbents:
        </p>
        <br>
        <p>
            The total investment in FinTech in 2016 was $24.6b according to KPMG while an annual 20% ROI is expected on FinTech related projects as indicated in a PWC report. Similarly, in FinTech Trends Report for 3rd quarter of 2017, FinTech companies closed 496 deals worth $8billion in the first half of 2017. Many African countries particularly Nigeria have benefited from the massive investments in FinTech and are creating world class innovation that promises to significantly contribute to the development of their economies. In Nigeria, activities in the FinTech ecosystem continue to soar with series of investment in up and coming FinTechs with special emphasise placed on FinTech partnership and collaboration by incumbents:
        </p>
      </div>
    </div>
  </div>
</section>