<section>
    <div class="container text-center about-page text-uppercase mt-md-0 mt-sm-0 mt-xs-0 ">
        <div class="row">
            <app-breadcrumb></app-breadcrumb>
          <div class="col-12">
            <h3>About The conference</h3>
              <h4 class="mt-2 mb-3">
                 ECO- INNOVATION FOR ENVIRONMENTAL SUSTAINABILITY 2018.
             </h4>
            <hr>
         </div>
       </div>
     </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
         <p>
          ECO-AFRICA Conference (EFC) is one of leading African forums on the
          green economy. It brings together world -class experts  around Africa to
          directly focus on advancing the global green economy and sustainability
          agenda, achieving the UN Sustainable Development Goals and implementing
          the recommendations of COP 21 & 22.
        </p>
        <p>
          ECO-AFRICA is the premier international platform to drive dialogue and
          action among industry stakeholders, and build partnerships and
          collaboration by connecting creative minds across different sectors. The
          summit will showcases innovative solutions and leading practices to
          inspire change, and aims to align stakeholders with policy makers to
          create a facilitative environment and ecosystem for sustainable green
          growth that address current and future needs.
        </p>
        <p>
          It is a critical need to address now, Air pollution in Nigeria kills
          more than 6 million people every year, is the biggest environmental
          health risk of our time.
          Airborne pollutants are responsible for about one third of deaths from
          stroke, chronic respiratory disease, and lung cancer, as well as one
          quarter of deaths from heart attack. Air pollution is also fundamentally
          altering our climate, with profound impacts on the health of the planet.
        </p>
        <p>
          Transport activity is increasing around Nigerian cities as economies
          grow, which means that the sector’s emissions are also on the rise due
          to high demand of over population. That’s largely because 95 per cent of
          the transportation system energy still comes from fossil fuels.
        </p>
         <p>
          Nigerian seas and oceans are facing unprecedented threats as a result of
          human activity more especially in Niger Delta Region. Every year, an
          estimated of million tonnes of chemicals and plastic waste end up in
          Nigerian oceans. At the same time, climate change is damaging coral
          reefs and other key ecosystems; leaving the water untreated.
        </p>
      </div>
    </div>
  </div>
</section>