<section class = "register-page  text-uppercase mt-md-0 mt-sm-0 mt-xs-0 pt-md-5 pt-sm-5 pt-xs-5">
     <div class="container text-center">
       <div class="row">
         <div class="col-12">
            <h3>Profile Name</h3>
            <p class="mt-2 mb-2">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium recusandae quam.
            </p>
            <hr>
         </div>
       </div>
     </div>
    

    <div class="container">
      <div class="row">
        <div class="col-5">
           <figure>
            <img src="../../assets/img/rsz_t.jpg" alt="" class = "img-fluid">
          </figure>
        </div>
         <div class="col-7">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perspiciatis autem, porro nesciunt architecto consequatur doloribus asperiores quidem voluptates. Rerum quia culpa explicabo pariatur ipsa id dolorum nobis excepturi quam?</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui facilis neque molestias commodi minima quidem magni perspiciatis ut corporis! Voluptate repellat consectetur possimus, quisquam qui distinctio libero obcaecati consequuntur rerum!</p>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate commodi porro, assumenda mollitia dolores dolore ab odio ipsam beatae repellendus nam, fugit magni nostrum fugiat. Earum vero explicabo sit dolores!</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique necessitatibus earum officiis delectus eligendi doloribus reiciendis, quo nemo saepe non quibusdam tempore nam repellendus quod nobis quis, odit voluptatem. Accusantium.</p>
        </div>
      </div>
    </div>
</section>