<section class="register-page mt-md-0 mt-sm-0 mt-xs-0">
    <app-breadcrumb></app-breadcrumb>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
             <h3 class="text-uppercase text-center">Sign Up</h3>
            <div class="wrapper">
              <div class="inner-box">
                  <form  class="">
                       <div class="alert alert-danger text-center">
                           <strong >This page is under construction, please check back later . </strong>
                       </div> 
  
                       <div class="form-group">
                        <label>Your name</label>
                        <input name = "name" type="text" class="form-control" id= "name" placeholder="Your name here" maxlength="100">
                      </div>
  
                      <div class="form-group">
                          <label>Your email</label>
                          <input name="email"  type="text" class="form-control" id="email" placeholder="Email here">
                      </div>
  
                        <div class="form-group">
                          <label>Password</label>
                          <input maxlength="20" name="pass"  type="password" class="form-control" placeholder="Atleast 6 characters" id="pass" minlength="6" placeholder="**************">
                        </div>
  
                        <div class="form-group">
                            <label>Re-enter password</label>
                            <input maxlength="20" name="repass"  type="password" class="form-control" id="re-pass" placeholder="*************">
                       </div> 
                       <!-- <div *ngIf="passwordError" class="alert alert-danger text-center">
                          <strong >{{errorLog}} </strong>
                       </div> -->
                       <a class="btn btn-block btn-primary text-center text-uppercase btns account-btn" > create account</a>
                    </form>
  
                    <p class="note">By creating an account, you agree to our <a>Conditions of Use</a> and <a>Privacy Notice</a>.</p>
  
                    <h5 class ="text-center text-uppercase have-account">already have an account ? <a class="sign-in" id="in"> sign in </a></h5>
              </div>
            </div>
       </div>
      </div>
    </div>
  </section>
  